body {
  text-align: center;
}

textarea {
  resize: none;
  height: 100%;
  width: 100%;
}

img {
  height: auto;
  width: 100%;
}

.box-title {
  color: blue;
  cursor: pointer;
  display: inline-block;
  text-decoration: underline;
}

.selected-box {
  color: gray;
  cursor: default;
  text-decoration: none;
}

.login-register-box {
  display: inline-block;
}

#paste-box {
  display: inline-block;
  height: 200px;
  width: 300px;
}